$thin: 300;
$normal: 400;
$bold: 600;

*, *:before, *:after {
  box-sizing: border-box;
}


body {
  font-family: Dosis, sans-serif;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

.form {
  background-color: #13232f;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:10px;
  box-shadow:0 4px 10px 4px rgba(#13232f,.3);
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba(#a0b3bo,.25);
    color:#a0b3bo;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:#1ab188;
      color:#ffffff;
    }
  }
  .active a {
    background:#1ab188;
    color:#ffffff;
  }
}

.tab-content > div:last-child {
  display:none;
}

#signin label, #signup label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:#ffffff;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:#1ab188;
  }
}

#signin label.active, #signup label.active {
  transform:translateY(60px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

#signin label.highlight, #signup label.active {
	color:#ffffff;
}

#signin input, #signin textarea,
#signup input, #signup textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3bo;
  color:#ffffff;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:#1ab188;
  }
}

#signin textarea, #signup {
  border:2px solid #a0b3bo;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#1ab188;
  color:#ffffff;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:#1ab188;
  }
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}

.fooditem {
  border: 0px solid white;
  height: 250px;
  padding: 0px;
  overflow: hidden;
}

.fooditem-image {
  width: 100%;
  height: 250px;
  background: linear-gradient(rgba(0,0,0,0) 30%, rgba(0,0,0,1));
  overflow: hidden;
}

.fooditem-image img{
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
}

.fooditem-description {
  position: relative;
  color: white;
  /*background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));*/
  background-color: #ff8c00;
  border-top: 0px solid white;
  width: 100%;
  height: 100px;
  padding-left: 5px;
  top: -40px;
  transition: 
    top 0.4s ease-in, 
    background 0.4s ease-in,
    background-color 0.4s ease-in;
  -ms-transition: 
    top 0.4s ease-in, 
    background 0.4s ease-in,
    background-color 0.4s ease-in;
  -moz-transition: 
    top 0.4s ease-in, 
    background 0.4s ease-in,
    background-color 0.4s ease-in;
  -webkit-transition: 
    top 0.4s ease-in, 
    background 0.4s ease-in,
    background-color 0.4s ease-in;
}
.fooditem-description-active {
  top: -100px;
  /*background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));*/
  background-color: #ffffff;
  border-top: 5px solid #ff8c00;
  transition: 
    top 0.4s ease-out, 
    background 0.4s ease-out,
    background-color 0.4s ease-out;
  -ms-transition: 
    top 0.4s ease-out, 
    background 0.4s ease-out,
    background-color 0.4s ease-out;
  -moz-transition: 
    top 0.4s ease-out, 
    background 0.4s ease-out,
    background-color 0.4s ease-out;
  -webkit-transition: 
    top 0.4s ease-out, 
    background 0.4s ease-out,
    background-color 0.4s ease-out;
}

.fooditem-description h3 {
  font-family: 'Poiret One', sans-serif;
  font-size: 30px;
  line-height: 40px;
  margin: 0;
}
.fooditem-description h4 {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.fooditem-description-active h3, .fooditem-description-active h4 {
  color: orange;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}
