$thin: 300;
$normal: 400;
$bold: 600;

*, *:before, *:after {
  box-sizing: border-box;
}


body {
  background-color: #fffaf0;
  font-family: Dosis, sans-serif;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

/* Nav bar */
.header {
  width: 100%;
  padding: 0px 20px;
  position: fixed;
  top: 0px;
  box-shadow: 0px 10px 6px -8px #111;
  background-color: #ff8c00;
}

.header, .header-block {
  margin: 20px 0px;
  height: 50px;
  z-index: 1000;
}

@media screen and (min-width: 600px) {
  .nav li {
    border-bottom: none;
    height: 50px;
    vertical-align: top;
    display: inline-block;
    margin-right: 20px;
    font-size: 1.5em;
    line-height: 50px;
  }

  .nav li a {
    padding: 0 20px;
    color: #ffffff;
  }

  .nav li a:hover {
    background-color: #ffffff;
    color: #ff8c00;
  }

  .nav li.home {
    font-family: Lobster, sans-serif;
    font-size: 2.5em;
    
  }
 
}

/*signin and signup*/
.form {
  background-color: #ffffff;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:5px;
  box-shadow: 0px 10px 12px -8px #111;
}

.form label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:#999999;
  font-weight: normal;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:#1ab188;
  }
}

.form label.active {
  transform:translateY(60px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

.form label.highlight, .form label.active {
	color:black;
}

.form input, .form textarea {
  border: 1px solid #a0b3b0;
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  color:#333333;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:#1ab188;
  }
}

.form textarea, .form {
  border:2px solid #a0b3bo;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#1ab188;
  color:#ffffff;
  transition:all.5s ease;
  -webkit-appearance: none;
  &`, &:focus {
    background:#1ab188;
  }
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}

/* All foods */
.search {
  width: 100%;
  height: 45px;
  background-color: #ff8c00;
  box-shadow: 0px 10px 6px -8px #111;
  padding: 10px 10px;
}

.search input {
  height: 25px;
  width: 300px;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 0px 5px;
}

.search input:focus {
  outline: 0px;
}

.container-fluid {
  position: relative;
}

.fooditem {
  border: 0px solid white;
  height: 250px;
  padding: 0px;
  overflow: hidden;
}

.fooditem-image {
  width: 100%;
  height: 250px;
  background: linear-gradient(rgba(0,0,0,0) 35%, rgba(0,0,0,1));
  overflow: hidden;
}

.fooditem-image-active {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
}

.fooditem-image img{
  position: relative;
  min-width: 100%;
  min-height: 100%;
  max-width: 125%;
  max-height: 125%;
  width: auto;
  height: auto;
  z-index: -1;
}

.fooditem-description {
  position: relative;
  color: white;
  /*background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));*/
  background-color: #ff8c00;
  width: 100%;
  height: 100px;
  padding-left: 10px;
  top: -40px;
  transition: 
    top 0.4s ease-in, 
    background 0.4s ease-in,
    background-color 0.4s ease-in;
  -ms-transition: 
    top 0.4s ease-in, 
    background 0.4s ease-in,
    background-color 0.4s ease-in;
  -moz-transition: 
    top 0.4s ease-in, 
    background 0.4s ease-in,
    background-color 0.4s ease-in;
  -webkit-transition: 
    top 0.4s ease-in, 
    background 0.4s ease-in,
    background-color 0.4s ease-in;
}

.fooditem-description-active {
  top: -100px;
  /*background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));*/
  background-color: #fffaf0;
  border-top: 5px solid #ff8c00;
  transition: 
    top 0.4s ease-out, 
    background 0.4s ease-out,
    background-color 0.4s ease-out;
  -ms-transition: 
    top 0.4s ease-out, 
    background 0.4s ease-out,
    background-color 0.4s ease-out;
  -moz-transition: 
    top 0.4s ease-out, 
    background 0.4s ease-out,
    background-color 0.4s ease-out;
  -webkit-transition: 
    top 0.4s ease-out, 
    background 0.4s ease-out,
    background-color 0.4s ease-out;
}

.fooditem-description h3 {
  font-family: 'Poiret One', sans-serif;
  font-size: 30px;
  line-height: 40px;
  margin: 0;
  text-transform: lowercase;
}
.fooditem-description h4 {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.fooditem-description-active h3, .fooditem-description-active h4 {
  color: orange;
}
 

