<div class='form' id='create'>
  <form name="createForm" ng-submit='createForm.$valid && submitHandler()'>
    <div class='top-row'>
      <div class='field-wrap'>
        <label ng-class='{active: createForm.title.$dirty, highlight: createForm.title.$dirty}' for="title">Title</label>
        <input type="text" id="title" name="title" ng-model="meal.title" ng-minlength="1" ng-maxlength="40" required  />
        <span style='color: red' ng-show="!createForm.title.$error.required && (createForm.title.$error.minlength || createForm.title.$error.maxlength) && createForm.title.$dirty">Must be less than 40 characters.</span>
       <br>
      </div>
      <div class='field-wrap'>
        <label ng-class='{active: createForm.description.$dirty, highlight: createForm.description.$dirty}' for="description">Description</label>
        <input type="text" id="description" name="description" ng-model="meal.description" ng-minlength="1" ng-maxlength="200" required  />
        <span style='color: red' ng-show="!createForm.description.$error.required && (createForm.description.$error.minlength || createForm.description.$error.maxlength) && createForm.description.$dirty">Must be less than 200 characters.</span>
       <br>
      </div>
      <div class='field-wrap'>
        <label ng-class='{active: createForm.picture.$dirty, highlight: createForm.picture.$dirty}' for="picture">Image URL</label>
        <input type="text" id="picture" name="picture" ng-model="meal.picture" ng-minlength="1" ng-maxlength="200" required  />
        <span style='color: red' ng-show="!createForm.picture.$error.required && (createForm.picture.$error.minlength || createForm.picture.$error.maxlength) && createForm.picture.$dirty">Must be less than 200 characters.</span>
       <br>
      </div>
      <div class='field-wrap'>
        <label ng-class='{active: createForm.date.$dirty, highlight: createForm.date.$dirty}' for="date">Date</label>
        <input type="text" id="date" name="date" ng-model="meal.date" ng-minlength="1" ng-maxlength="15" required  />
        <span style='color: red' ng-show="!createForm.date.$error.minLength && !createForm.date.$error.maxLength && createForm.date.$error.pattern && createForm.date.$dirty">Must start with a letter, and contain letters &amp; numbers only.</span>
        <span style='color: red' ng-show="!createForm.date.$error.required && (createForm.date.$error.minlength || createForm.date.$error.maxlength) && createForm.date.$dirty">Must be less than 15 characters.</span>
       <br>
      </div>
      <div class='field-wrap'>
        <label ng-class='{active: createForm.time.$dirty, highlight: createForm.time.$dirty}' for="time">Time</label>
        <input type="text" id="time" name="time" ng-model="meal.time" ng-minlength="1" ng-maxlength="15" required  />
        <span style='color: red' ng-show="!createForm.time.$error.minLength && !createForm.time.$error.maxLength && createForm.time.$error.pattern && createForm.time.$dirty">Must start with a letter, and contain letters &amp; numbers only.</span>
        <span style='color: red' ng-show="!createForm.time.$error.required && (createForm.time.$error.minlength || createForm.time.$error.maxlength) && createForm.time.$dirty">Must be less than 15 characters.</span>
       <br>
      </div>
    </div>
    <button class='button button-block'>signup</button>
  </form>
</div>
